amqp==2.2.2
appnope==0.1.0
billiard==3.5.0.3
blinker==1.4
boto3==1.4.7
botocore==1.7.48
celery==4.1.0
click==6.7
decorator==4.1.2
docutils==0.14
Flask==0.12.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==19.7.1
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jmespath==0.9.3
kombu==4.1.0
MarkupSafe==1.0
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
raven==6.3.0
s3transfer==0.1.11
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
vine==1.1.4
wcwidth==0.1.7
Werkzeug==0.12.2
WTForms==2.1
