
<!doctype html>
<html lang="en">
  <head>
    <title>Karaokio CDG-to-MP4 Converter</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon/favicon.png?">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/karaokio.css">

    <!-- // https://codepen.io/liladas/pen/rYyXmY -->
    <link rel="stylesheet" href="/static/dndfile.css" >


  </head>
  <body>
      <a href="https://github.com/Karaokio/cdg2mp4"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>


<div class="container-wide">
    <div id="logo" class="row">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm-auto text-center">
                    <a href="https://www.karaokio.com">
                        <img src="/static/logo_white_drop.png" width="50%"></img>
                    </a>
                    <p class="subtitle">
                      CDG-to-MP4 Karaoke Video File Converter
                    </p>
                </div>
            </div>
        </div>
    </div><!-- row END -->

    <!-- // https://codepen.io/liladas/pen/rYyXmY -->
    <div class="container p-y-1">
        <div class="row m-b-1">
            <div class="col-sm-6 offset-sm-3">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                  <button type="button" class="btn btn-block white-button" onclick="document.getElementById('cdg_zip').click()">Add CDG.zip File</button>
                  <div class="form-group inputDnD">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" class="form-control-file font-weight-bold dnd-textshadow" id="cdg_zip" name="cdg_zip" accept=".zip" onchange="readURL(this);" data-title="Drag and drop a file">
                    <button type="button" class="btn btn-block white-button" onclick="acceptFile(document.getElementById('cdg_zip'));">Upload <i id="spinner" style="visibility: hidden;" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></i></button>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
            <div class="container">
                <ul class="icons-ul">
                    <li class="col-md-1 col-sm-2 col-xs-6 grid-icon textshadow">
                        <a href="https://www.karaokio.com">
                          <i class="fa fa-map-o fa-2x"></i>
                          <span class="icon-text">Map</span>
                        </a>
                    </li>
                    <li class="col-md-1 col-sm-2 col-xs-6 grid-icon textshadow">
                        <a href="https://www.karaokio.com">
                          <i class="fa fa-apple fa-2x"></i>
                          <span class="icon-text">iOS</span>
                        </a>
                    </li>
                    <li class="col-md-1 col-sm-2 col-xs-6 grid-icon textshadow">
                        <a href="https://www.karaok.io">
                          <i class="fa fa-list-alt fa-2x"></i>
                          <span class="icon-text">Blog</span>
                        </a>
                    </li>
                    <li class="col-md-1 col-sm-2 col-xs-6 grid-icon textshadow">
                        <a href="https://chrome.google.com/webstore/detail/karaokio-extension/cbjaenkmcfdeapppomgaikhoiacmohnc">
                          <i class="fa fa-chrome fa-2x"></i>
                          <span class="icon-text">Chrome</span>
                        </a>
                    </li>
                    <li class="col-md-1 col-sm-2 col-xs-6 grid-icon textshadow">
                        <a href="https://karaokio.bigcartel.com">
                          <i class="fa fa-shopping-cart fa-2x"></i>
                          <span class="icon-text">Shop</span>
                        </a>
                    </li>
                </div>
            </div>
            <div class="row social-bar text-center">
                    <div class="container">
                    <li class="grid-icon textshadow">
                        <a href="https://www.facebook.com/Karaokio/">
                          <i class="fa fa-facebook fa-1x"></i>
                        </a>
                    </li>
                    <li class="grid-icon textshadow">
                        <a href="https://www.twitter.com/karaokioapp">
                          <i class="fa fa-twitter fa-1x"></i>

                        </a>
                    </li>
                    <li class="grid-icon textshadow">
                        <a href="https://www.instagram.com/karaokioapp">
                          <i class="fa fa-instagram fa-1x"></i>

                        </a>
                    </li>
                    <li class="grid-icon textshadow">
                        <a href="https://karaokio.tumblr.com/">
                          <i class="fa fa-tumblr fa-1x"></i>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
</div><!-- container-wide END -->

<footer class="footer">
  <div class="container">
    <hr width="50%">
    <ul class="list-inline text-center top-row-footer">
        <li><a class="textshadow" href="https://www.karaok.io/">Blog</a></li>
        <li><a class="textshadow" href="https://karaokio.com/about/">About</a></a></li>
        <li><a class="textshadow" href="https://karaokio.com/stats/">Site Stats</a></a></li>
        <li><a class="textshadow" href="mailto:hello@karaokio.com">Contact</a></li>
        <li><a class="textshadow" href="https://karaokio.com/donate/">Donate</a></li>
        <li><a class="textshadow" href="https://karaokio.com/terms/">Terms</a></li>
        <li><a class="textshadow" href="https://karaokio.com/privacy/">Privacy</a></li>
    </ul>

    <p class="copyright text-center">Copyright © 2015–2017 <a class="textshadow" href="https://www.karaok.io">Karaokio</a>. <a class="textshadow" href="https://www.karaok.io">Karaokio</a>, <a class="textshadow" href="https://www.karaok.io">Karaokio</a> logo, and related marks are registered trademarks of <a class="textshadow" href="https://www.karaok.io">Karaokio</a>.</p>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- // https://codepen.io/liladas/pen/rYyXmY -->
    <script type="text/javascript" src="/static/dndfile.js"></script>
  </body>
</html>
